.sub-container {
    margin-left: 10px;
    padding-bottom: 50px;
}

.submenu-container {
    display: flex;
    margin-top: 30px;
}

.sub-desc {
    min-width: 180px;
    max-width: 180px;
    text-align: center;
    font-family: Lato,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    font-weight: 300;
    color: #363636;
    font-size: 14px;
}

.food-item {
    margin-right: 10px;
    margin-top: 10px;
    width: 150px;
    min-height: 130px;
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 50px;
}

.c-food-image {
    display: flex;
    justify-content: center;
}

.checked {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.food-image {
    width: 100px;
    height: 80px;
    border-radius: 50px;
    background-position: bottom;

}

.food-name {
    text-align: center;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 5px;
}

.food-price {
    text-align: center;
    color: gray;
    margin-top: 5px;

}

.checkbox {
    display: flex;
    justify-content: center;
}

.detail-title {
    text-align: center;
    font-family: Lato,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    font-weight: 500;
    color: #363636;
}

.detail-info {
    padding-top: 1px;
    border-radius: 50px;
    background-color: #f1f1f1;
    padding-bottom: 10px;
}

.tutar {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    font-size: 17px;
}

.warning{
    display: flex;
    justify-content: center;
    text-decoration: solid;
    color: #363636;
    font-weight: 500;
    text-decoration: underline;
}